/* Codigo de la pagina para que empiece justo arriba del todo*/
    * {padding: 0;
       margin: 0;}

    a {text-decoration: none;
       color: black;}
            
    ul {list-style: none;
        margin-right: 0rem;}
        
/* Código página en desktop */

    header,nav,main,footer {width: 80%; 
                            margin: 0 auto;}

    header {min-height: 15rem;
            background-color: pink;}

    nav {min-height: 7rem;
        background-color: orange;}

    main {min-height: 20rem;
        background-color: lightblue;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;}

    footer {min-height: 7rem;
            background-color: chartreuse;}

    .ponerBorde {border: 0.3rem solid black;}
    
    main div {width: 30%;
        min-height: 5rem;
        background-color: lightgray;
        border: 0.02rem solid red;}

    .izda {background-color: rgb(170, 199, 199); text-align: left;}
    .dcha {text-align:justify;}
        
    main div a {font-size: 1.2rem; color:
        brown; 
        font-weight: 600; 
        font-family: Verdana, Geneva, Tahoma, sans-serif;            }
       
    nav ul{
        border: 0.1rem solid blue;
        display:flex;
        justify-content: space-around;
        align-items: center;
        min-height: 7rem;}

    nav ul li {
        width: 9rem; 
        height: 3.5rem; 
        color: black;
        background-color: burlywood;
        /* border: 0.1rem solid green; */
        margin: 0.5rem;
        }
           
    nav ul li a {
        font-size: 2rem;
        color: rgb(214, 201, 227);
        display: block;
        text-align: center;
        padding-top: 0.5rem;
        background-color: rgb(70, 127, 74);
        border-radius: 1rem;
        }

    nav ul li a:hover{
        color: rgb(70, 127, 74);
        background-color: rgb(214, 201, 227);
        transition: 500ms;
        }
      header {display: flex;
            justify-content:flex-end;
            flex-direction: column;
            align-items: center;
        }

        h1, h2, p {width: 50%;
                    background-color: cadetblue;
                    margin: 0.2rem;
                    border: 0.3rem solid green;
                text-align: center;}

/* Código de página en tablet */



/* Código de página en teléfono */
     @media screen and (max-width: 900px) {
        nav ul {display:flex;
                flex-direction: column;}
        main div {width: 45%;};
        body {background-color: aqua};
     }

     @media only screen and (max-width: 602px) {
        main div {width: 90%;};
        body {background-color: blue;}
     }
        